@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

section{
    --color-dark: #0B1720;
    ---color-light: #fff;
    --color-primary: #00316A;
    --color-secondary: #6ADFD7;
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
    padding: 1rem;
}


.pricing-table__header-title{
    text-align:center;
    font-size: 2rem;
    font-weight:900;
    letter-spacing: -.024em;
    margin: 0 0 0 16px;
}

.pricing-table__header-description{
    text-align:center;
    font-size:1.3rem;
    font-weight: 400;
    letter-spacing: -.0055em;
    line-height: 35px;
    margin-bottom: 80px
}

.pricing-table__card{
    display:flex;
    flex-direction: column;
    box-shadow: 0 2px 24px rgba(110, 123, 129, .2);
    border-radius: 30px 30px 20px 20px;
    margin-bottom: 64px;
}

.pricing-table__head{
    text-align:center;
    padding:66px 32px 40px;
    border-radius: 30px 30px 0 0;
    background-color: var(--color-primary);
    color: var(---color-light);
    font-weight: 600;
    position:relative;
}

.pricing-table__head > * {
    margin:0;
}

.pricing-table__card-icon{
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -40px;
}

.pricing-table__card-title{
    font-size: 1.17rem;
    font-weight: 600;
    text-transform: uppercase;
    margin:0 0 8px;
}

.pricing-table__card-subtitle{
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -.0045em;
}

.pricing-table__card-price{
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -.018em;
    color: var(--color-secondary);
}

.pricing-table__card-price > span{
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -.018em;
    color: var(---color-light);
}

.pricing-table__body{
    flex-grow: 1;
    margin: 0;
    border-bottom: 1px solid #BDBDBD;
}

.pricing-table__body-content{
    padding: 24px 40px 32px;
}

.pricing-table__body-item{
    margin-bottom: 24px;
}

.pricing-table__body-title, .pricing-table__body-item-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.pricing-table__body-item-title{
    display: flex;
    align-items: center;
}

.pricing-table__body-item-title img{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.pricing-table__body-item-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.003em;
}

.pricing-table__body-item-text a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--color-primary);
}

.pricing-table__include-content{
     padding: 64px 40px;   
}

.pricing-table__include-list{
    padding: 0 16px 0 0;
    height: auto;
    list-style-position: inside;
}

.pricing-table__include-list .list-item{
    display: list-item;
    list-style: none;
    padding-left: 40px;
    margin-bottom: 32px;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.003em;
    position: relative;
}

.list-item::before{
    content: "";
    background-image: url('assets/check.png');
    background-size: contain; /* Ajusta el tamaño del SVG */
    background-repeat: no-repeat; /* Evita que se repita */
    background-color: #6ab993;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
    border-radius: 50%;
}

.pricing-table__include-content{
    margin-bottom: auto;
}

.pricing-table__container-btn{
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: auto;
    width: calc(100% - 80px);
    padding: 0px 40px 56px;
}

a.btn-pricing{
    height: auto;
    text-decoration: none;
    color: var(---color-light);
    background-color: #26B16D;
    border-radius: 4px;
    word-break: break-word;
    font-size: 18px;
    padding: 16px 20px;
    
}

.pricing-table__foot{
    text-align: center;
}

.pricing-table__foot h3{
    font-size: 24px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.pricing-table__foot P{
    margin: 0 auto 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.0045em;
}


@media only screen and (min-width:770px) {

    .pricing-table__card{
        max-width: 1010px;
        margin: 0 auto 64px;
        flex-direction: row;
        border-radius: 30px;
    }

    .pricing-table__card > *{
        flex: 1;
        width: 50%;
    }

    .pricing-table__card h4{
        font-size: 22px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -.792px;
    }

    .pricing-table__head{
        border-radius: 30px 0 0 0;
    }

    .pricing-table__body{
        padding: 0;
        border-bottom: 0 ;
    }

    .pricing-table__body-content{
        padding: 24px 40px 32px;
        border-right: 1px solid #BDBDBD;
    }
    
}